.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.maincontainer {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Use 100vh to cover the entire viewport height */
}
#map {
  flex-grow: 1; /* This will make the map take up the remaining space */
}


/* Basic reset for list styles */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: lightgray; /* Dark background for the navbar */
  color: white;
  padding: 0 20px; /* Padding on the sides */
}

.navbar-container {
  display: flex;
  justify-content: space-between; /* Space between the logo and nav items */
  align-items: center; /* Align items vertically */
  height: 60px; /* Set the height of the navbar */
}

.navbar-brand {
  color: white;
}
.navbar-brand img {
  height: 50px;
}
.navbar-nav {
  display: flex;
}

.nav-item {
  padding: 0 10px; /* Space between nav items */
}

.nav-link {
  color: white;
  text-decoration: none; /* Remove underline from links */
  transition: color 0.3s ease; /* Transition for hover effect */
}

.nav-link:hover {
  color: #ddd; /* Lighten link color on hover */
}


.map-container {
  position: relative; /* This will be the parent relative container */
  width: 100%;
  height: 100vh; /* Full height of the viewport */
}

.map {
  z-index: 1;
}

.sidebar {
  position: relative; /* Positioned absolutely relative to its parent */
  left: 0; /* Align to the left side of the parent */
  top: 0; /* Align to the top of the parent */
  z-index: 1000; /* Higher index so it's on top of the map */
  width: 400px; /* Width of the sidebar */
  height: 100%; /* Full height of the parent */
  background: rgba(255, 255, 255, 1); /* Semi-transparent white background */
  overflow-y: auto; /* Allow scrolling if the content is too long */
  /* multiple items in the side bar. */
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"]:focus {
  border-color: green;
  outline: none;
  box-shadow: 0 0 5px green
}

input[type="text"]::placeholder {
  color: #a9a9a9;
  font-style: italic;
}

.search-container {
  /*multiple elements in the same line */
  display: flex;
  position: relative; /* This makes it the reference for its absolutely positioned children */
  width: 100%; /* Adjust the width as needed */
}

.dropdown {
  margin: 0;
  position: absolute; /* Positioned absolutely relative to its parent */
  width: 100%; /* Match the width of the input field */
  background: white; /* So that it stands out over other content */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow for better visibility */
  max-height: 300px; /* Optional: limits the size and makes it scrollable */
  overflow-y: auto; /* Optional: adds scroll */
  z-index: 10000; /* Ensures it's on top of other content */
  top: 100%; /* Positions the dropdown right below the input */
  left: 0;
}


.category-item {
  display: flex; /* Flexbox layout */
  align-items: center; /* Aligns items vertically center */
  font-size: 18px; /* Bigger text */
  justify-content: space-between; /* Space between the label and the checkbox */
  margin-right: 10px;;
  margin-bottom: 10px; /* Space between category items */
}

/* Style for the image placeholder */
.category-item .image-placeholder img {
  width: 70px; /* Ensure the image covers the width */
  height: 100%; /* Ensure the image covers the height */
  object-fit: cover; /* Cover the entire area without stretching the image */
}
/* Style the checkbox */
.category-item input[type="checkbox"] {
  margin-left: 20px; /* Space between the label and the checkbox */
  width: 24px; /* Checkbox width */
  height: 24px; /* Checkbox height */
  cursor: pointer;
  -webkit-appearance: none; /* Remove default styling */
  appearance: none;
  background-color: #fff;
  border: 2px solid #d1d1d1;
  transform: scale(1.5); /* Scale up the checkbox */
}

.category-item input[type="checkbox"]:checked {
  background-color: green;
  border: 2px solid green;
}

/* Custom checkmark */
.category-item input[type="checkbox"]:checked::after {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 24px; /* Match the size of your checkbox */
  line-height: 24px; /* Match the size of your checkbox */
  transform: translateX(-50%) translateY(-50%); /* Center the checkmark */
  left: 50%;
  top: 50%;
}
/* chatwindow encompasses the entire chat area. chatbox and the button should be on the same line at the bottom of the screen*/
.chatwindow {
  display: flex;
  flex-direction: column; /* Adjust the flex direction to column */
  height: 100%;
  position: relative; /* Change the position to relative */
  overflow-y: auto;
}

.chatbox {
  /*the box stays at the bottom and is inline-block*/
  position: absolute; /* Change the position to sticky */
  width: 100%;
  bottom: 0;
  display: flex; /* Add display flex */
  justify-content: flex-end; /* Align the chatbox and button to the right */
  position: sticky;
}
#martychat {
  width: 80%; /* Adjust the width as needed */
  padding: 10px; /* Add padding */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 5px; /* Add a border radius */
  margin: 10px; /* Add margin */
}
button {
  /*the button is inline-block*/
  display: inline-block; /* Change the display to inline-block */
  padding: 10px; /* Add padding */
  margin: 10px; /* Add margin */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 5px; /* Add a border radius */
  background-color: goldenrod; /* Add a background color */
  cursor: pointer; /* Add a pointer cursor */
}