.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.map-container {
  position: relative; /* This will be the parent relative container */
  width: 100%;
  height: 100vh; /* Full height of the viewport */
}

.sidebar {
  position: absolute; /* Positioned absolutely relative to its parent */
  left: 0; /* Align to the left side of the parent */
  top: 0; /* Align to the top of the parent */
  z-index: 1000; /* Higher index so it's on top of the map */
  width: 300px; /* Width of the sidebar */
  height: 100%; /* Full height of the parent */
  background: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
  overflow-y: auto; /* Allow scrolling if the content is too long */
}

.map {
  z-index: 1;
}
